/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html,
body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background: #57AE5E;
    font-size: 1em;
    color: #4A4A4A;
    height: 100%;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#hero {
    background: #1b7dbc;
}

header {
    position: relative;
    background: #fff;
    height: 100px;
    z-index: 1;
    font-weight: 700;
}

.logo {
    float: left;
    width: auto;
    height: 100px;
    line-height: 100px;
    padding-left: 32px;
}

.logo img {
    vertical-align: middle;
}

#nav-trigger {
    display: none;
    text-align: right;
}

#nav-trigger span {
    display: inline-block;
    padding: 0 32px;
    width: 50px;
    height: 100px;
    font-weight: 700;
    cursor: pointer;
    line-height: 100px;
    float: right;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
}

#nav-trigger span:hover {
    color: #57AE5E;
    transition: all 0.3s;
}

nav {
    height: 100px;
    padding-right: 32px;
}

nav#nav-main {
    float: right;
}

hr {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 40px;
}

ul {
    display: -webkit-box;
    display: -moz-box-flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100px;
}

nav#nav-main ul {
    list-style-type: none;
    margin: 0;
}

nav#nav-main li {
    margin: 0 0 0 10px;
}

nav#nav-main li:last-child a {
    border: 2px solid #57AE5E;
    color: #57AE5E;
    border-radius: 2px;
}

nav#nav-main li:last-child a:hover {
    background: #57AE5E;
    color: #fff;
    transition: all 0.3s;
}

nav#nav-main a {
    display: block;
    color: inherit;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px;
}

nav#nav-main a:hover {
    color: #57AE5E;
    border: 2px solid;
    border-radius: 2px;
}

nav#nav-mobile {
    position: relative;
    display: none;
    top: 25px;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #57AE5E;
    height: 60px;
}

nav#nav-mobile li {
    float: left;
    width: 33.333333%;
    line-height: 60px;
}

nav#nav-mobile a {
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav#nav-mobile a:hover {
    background: rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 4.250em;
    font-weight: 900;
    color: #fff;
    padding-top: 16px;
    text-align: center;
    line-height: 125%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
    letter-spacing: -2px;
}

h2 {
    font-family: 'Lora', Georgia, serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 16px;
    padding: 4px 12px 4px 12px;
    border-left: 4px solid #FED02F;
}

h3 {
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
    line-height: 150%;
    font-size: 1.250em;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
}

h4, .free {
    font-size: 1em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
    background: #f9bc10;
    color: #fff;
    padding: 1em;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: all 0.3s;
    border-radius: 0 0 2px 2px;
    letter-spacing: 1px;
    line-height: 125%;
}

.free {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background: #1b7dbc;
    text-transform: capitalize;
    line-height: 125%;
}

h4:hover, .free:hover {
    background: #1b7dbc;
    transition: all 0.3s;
    cursor: pointer;
}

h4:after {
    font-family: FontAwesome;
    font-weight: normal;
    content: "\f178";
    transition: all 0.3s;
    margin-left: 10px;
}

h4:hover:after {
    margin-left: 20px;
    transition: all 0.3s;
}

.free:hover {
    background: #2692d8;
}

p {
    padding: 8px 0;
    white-space: pre-wrap;
    line-height: 150%;
}

#mcm-character {
    background: url("../img/master-class-money-character.png") bottom center no-repeat;
    background-size: contain;
    height: 780px;
}

strong {
    font-weight: 700;
}

blockquote {
    font-family: 'Lora', Georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    line-height: 125%;
    text-align: center;
    padding: 1em;
    margin: 16px 0 0 0;
    color: #666;
    background: #fafafa;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px 2px 0 0;
}

footer {
    color: #fff;
    position: relative;
    padding: 0px 0 35px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
}

.content {
    background: #fff;
    position: relative;
    top: -35px;
    padding: 32px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    border-radius: 2px;
}

.content ul {
    display: block;
    list-style-type: circle;
    padding: 16px;
    line-height: 150%;
}

.content ul li {
    white-space: pre-wrap;
}

.content a {
    border-bottom: 2px solid #FED02F;
    padding-bottom: 2px;
}

#enroll-now-header {
    text-align: center;
}

#first-point, #second-point, #third-point {
    background: #FED02F;
    text-align: center;
    height: auto;
    font-family: 'Lora', Georgia, serif;
    font-weight: 400;
    font-style: italic;
    margin: 16px 0;
    font-size: 1.250em;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

#first-point {
    border-right: 0;
    border-radius: 2px 0 0 2px;
}

#second-point {
    background: #febe2f;
    border-left: 0;
    border-right: 0;
}

#third-point {
    border-left: 0;
    background: #feae2f;
    border-radius: 0 2px 2px 0;
}

ul.para {
    height: auto;
    white-space: pre-line;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.coin {
    background: url('../img/mag-coin.png') no-repeat left 4px;
    background-size: 16px;
    padding-left: 24px;
}

.button {
    padding: 1em 1.5em;
    margin: 0;
    display: inline-block;
    border: 0;
    font-family: inherit;
    font-size: 0.875em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 32px;
    border: 1px solid;
    background: transparent;
    outline: none;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    padding: 0;
    color: #fff;
    transition: all 0.3s;
}

a:hover {
    cursor: pointer;
    transition: all 0.3s;
}

a:visited {
    color: #fff;
}

a.para:link, a.para:visited {
    color: #555;
    font-weight: 700;
}

a.para:hover {
    text-decoration: none;
}

.enroll-course, .enroll-course:visited {
    background: #f9bc10;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
    margin: 1.5%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.enroll-course:hover {
    background: #69bf1e;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 1em 2.250em;
}

.back-to-top {
    float: right;
    cursor: pointer;
}

img.happy-users {
    float: left;
    margin-right: 16px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 72em) {
    .content {
        top: 0;
    }
    h1 {
        font-size: 4em;
    }
    footer {
        padding: 35px;
    }
    .buy {
        display: none;
    }
}

@media screen and (max-width: 47em) {
    #nav-trigger {
        display: block;
        height: 75px;
    }
    nav#nav-main {
        display: none;
    }
    nav#nav-mobile ul, h3 {
        font-size: 0.813em;
    }
    nav#nav-mobile {
        display: block;
        height: 0;
    }
    .buy {
        display: none;
    }
    h1 {
        font-size: 2.250em;
    }
    .button {
        font-size: 0.813em;
        margin: 0.5em 0;
    }
    footer {
        padding: 35px;
        font-size: 0.813em;
    }
}

/*
 * Gridism
 * https://github.com/cobyism/gridism
 */

.grid,
.unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    display: block;
    clear: both;
}

.grid .unit {
    float: left;
    width: 100%;
}

.grid .main {
    padding-bottom: 0;
}

.grid .unit:first-child {
    padding-left: 0;
    padding-right: 0;
}

.grid .unit:last-child {
    padding-right: 0;
}

.unit .unit:first-child {
    padding-left: 0;
}

.unit .unit:last-child {
    padding-right: 0;
}

.unit .grid:first-child > .unit {
    padding-top: 0;
}

.unit .grid:last-child > .unit {
    padding-bottom: 0;
}

.no-gutters .unit,
.unit.no-gutters {
    padding: 0 !important;
}

.wrap .grid,
.grid.wrap {
    max-width: 978px;
    margin: 0 auto;
}

.grid .whole,
.grid .w-1-1 {
    width: 100%;
}

.grid .half,
.grid .w-1-2 {
    width: 46%;
    padding: 16px;
    margin: 2%;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    transition: all 0.3s;
    font-size: 0.875em;
}

.grid .half:hover {
    background: #7ec7ff;
    transition: all 0.3s;
}

.grid .one-third,
.grid .w-1-3 {
    width: 33.3332%;
}

.grid .two-thirds,
.grid .w-2-3 {
    width: 66.6665%;
}

.grid .one-quarter,
.grid .one-fourth,
.grid .w-1-4 {
    width: 25%;
    padding-right: 32px;
    padding-bottom: 24px;
}

.grid .one-fourth img {
    width: 100%;
}

.grid .three-quarters,
.grid .three-fourths,
.grid .w-3-4 {
    width: 75%;
}

.grid .one-fifth,
.grid .w-1-5 {
    width: 20%;
}

.grid .two-fifths,
.grid .w-2-5 {
    width: 40%;
}

.grid .three-fifths,
.grid .w-3-5 {
    width: 60%;
}

.grid .four-fifths,
.grid .w-4-5 {
    width: 80%;
}

.grid .golden-small,
.grid .w-g-s {
    width: 38.2716%;
}

.grid .golden-large,
.grid .w-g-l {
    width: 61.7283%;
}

.grid {
    *zoom: 1;
}

.grid:before,
.grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.grid:after {
    clear: both;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.v-align {
    display: table;
}

.unit img {
    max-width: 100%;
    display: block;
    /*padding: 0;
    margin: 0 auto;*/
}

.only-on-mobiles {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .grid:not(.no-stacking-on-mobiles) > .unit {
        width: 100% !important;
    }
    .button {
        margin: 0.5em 0;
    }
    .grid .half {
        width: 100% !important;
    }
    .unit .grid .unit {
        padding-left: 0px;
        padding-right: 0px;
    }
    .center-on-mobiles {
        text-align: center !important;
    }
    .hide-on-mobiles {
        display: none !important;
    }
    .only-on-mobiles {
        display: block !important;
    }
}

@media screen and (min-width: 1180px) {
    .wider .grid,
    .grid.wider {
        max-width: 1180px;
        margin: 0 auto;
    }
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
