/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: url('../img/bg.png');
    background-size: 250px;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 0.913em;
    font-weight: 400;
    color: #444;
    padding: 2em 1em;
    margin: 0;
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 960px;
    display: table;
    height: 100vh;
}

.logo {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
}

.content {
    display: table-cell;
    vertical-align: middle;
    float: left;
}

h1 {
    font-family: 'Lora', Georgia, serif;
    font-size: 2em;
    font-weight: 700;
    color: #33AD5B;
    line-height: 150%;
}

h2 {
    font-size: 2em;
    line-height: 150%;
    color: #F7B011;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    padding: 0.875em;
    font-size: 0.875em;
    color: #F7B011;
}

p {
    line-height: 150%;
    padding: 0.5em;
}

strong {
    font-weight: 700;
}

.clock {
    width: auto;
    display: inline-block;
}

input,
button {
    border-radius: 2px;
    border: 2px solid #ccc;
    height: 30px;
}

textarea,
input {
    outline: none;
}

input[type="text"]:focus {
    border: 2px solid #F7B011;
}

.wf-formTpl {
    width: auto;
    padding-top: 2%;
    text-align: center;
    display: inline-block;
}

.wf-sortable li {
    float: left;
}

.wf-email {
    margin: 0 1em;
}

.wf-button,
button {
    color: #fff;
    background: #0090ff;
    border: 2px solid #0076ff !important;
    margin: 21px 0 0 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: 500;
}

.wf-button:hover {
    background: #0080ff;
    border: 2px solid #0076ff;
    transition: all 0.3s;
}


.wf-name,
.wf-email {
    text-align: left;
    line-height: 150%;
    font-weight: 700;
}

.wf-input {
    width: 105px;
}
